@{
    ViewData["Title"] = "About";
}
<!--<h2>ViewData["Title"]</h2>-->
<h3>@ViewData["Message"]</h3>

<p>
    Класс АСМП(Автомобиль скорой медицинской помощи) - Согласно ГОСТ33665-2016  существует 3 основных класса - А,В,С. В зависимости от класса АСМП меняются требования к оснащению медицинским оборудованием.
    Данная информационная система представляет возможность удобного выбора оборудования для комплектации АСМП, в зависимсти от класса.
</p>
<br />
<p>Класс А - общепрофильная фельдшерская выездная бригада СМП(скорой медицинской помощи))</p>
<br />
<p>Класс В - фельдшерская и врачебная общепрофильная выездная бригада СМП</p>
<br />
<p>Класс С - специализированная бригада СМП</p>
<br />
<h4>Руководство пользователя </h4>
<br />
<text>Чтобы приступить к выбору оборудования, необходимо выбрать класс. Для этого нажмите на изображение или на ссылку, где указано наименование класса. После выбора класса откроется форма для выбора оборудования.
    Изначатьно в поле "вид прибора" будет установленно значение "Дефибриллятор". Для того, чтобы изменить вид прибора нужно нажать на поле "Вид прибора",
    и выбрать другой вид.
    
    </text>

