@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Категория АСМП(Автомобиля скорой медицинской помощи) - Согласно ГОСТ существует 3 основных категорий(А,В,С)</p>
<br />
<p>Категория А - общепрофильная фельдшерская выездная бригада СМП(скорой медицинской помощи))</p>
<br />
<p>Категория В - фельдшерская и врачебная общепрофильная выездная бригада СМП</p>
<br />
<p>Категория С - специализированная бригада СМП</p>

