@{
    ViewData["Title"] = "Contact";
}
<!--<h2>ViewData["Title"]</h2>-->
<!--<h3>ViewData["Message"]</h3>-->
<h2>Контакты</h2>

<address>
    Российский технологический университет "МИРЭА" <br />
    г. Москва ул. Стромынка д. 20<br />
    <abbr title="Phone">Тел:</abbr>
    8-495-894-50-71
</address>

<address>
    <strong>Тех. поддержка:</strong> <a href="sasha393@bk.ru">sasha393@bk.ru</a><br />
  <!--  <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
</address>
