@model diplomMed.Models.Stretcher

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Stretcher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="WorkingCondition" class="control-label"></label>
                <input asp-for="WorkingCondition" class="form-control" />
                <span asp-validation-for="WorkingCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoldedCondition" class="control-label"></label>
                <input asp-for="FoldedCondition" class="form-control" />
                <span asp-validation-for="FoldedCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipId" class="control-label"></label>
                <select asp-for="EquipId" class="form-control" asp-items="ViewBag.EquipId"></select>
                <span asp-validation-for="EquipId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

