@model diplomMed.Models.Equipment

@{
    ViewData["Title"] = "Create";
}

<h2>Добавить оборудование</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Equipment" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EquipType" class="control-label"></label>
                <input asp-for="EquipType" class="form-control" />
                <span asp-validation-for="EquipType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Developer" class="control-label"></label>
                <input asp-for="Developer" class="form-control" />
                <span asp-validation-for="Developer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label">Фотография</label>
                <input name="Photo" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Categ1" /> @Html.DisplayNameFor(model => model.Categ1)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Categ2" /> @Html.DisplayNameFor(model => model.Categ2)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Categ3" /> @Html.DisplayNameFor(model => model.Categ3)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
