@model diplomMed.Models.Ekg

@{
    ViewData["Title"] = "EkgCreate";
}

<h2>EkgCreate</h2>

<h4>Ekg</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EkgCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConnectPc" class="control-label"></label>
                <input asp-for="ConnectPc" class="form-control" />
                <span asp-validation-for="ConnectPc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignalProccesing" class="control-label"></label>
                <input asp-for="SignalProccesing" class="form-control" />
                <span asp-validation-for="SignalProccesing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemorySize" class="control-label"></label>
                <input asp-for="MemorySize" class="form-control" />
                <span asp-validation-for="MemorySize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipId" class="control-label"></label>
                <select asp-for="EquipId" class ="form-control" asp-items="ViewBag.EquipId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
