@model diplomMed.Models.Ivl

@{
    ViewData["Title"] = "IvlCreate";
}

<h2>IvlCreate</h2>

<h4>Ivl</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IvlCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BatteryType" class="control-label"></label>
                <input asp-for="BatteryType" class="form-control" />
                <span asp-validation-for="BatteryType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeCharging" class="control-label"></label>
                <input asp-for="TimeCharging" class="form-control" />
                <span asp-validation-for="TimeCharging" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkModes" class="control-label"></label>
                <input asp-for="WorkModes" class="form-control" />
                <span asp-validation-for="WorkModes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipId" class="control-label"></label>
                <select asp-for="EquipId" class ="form-control" asp-items="ViewBag.EquipId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
